#  Q1. Create one variable containing following type of data:
    (i) string
    (ii) list
    (iii) float
    (iv) tuple

In [4]:
# Answer1
Name  = "Saurabh"
list1 = [1,2,3,4,5,"saurabh","ramesh"]
Float = 3.26
Tuple = (1,2,3,4,5,6)
print("Answer")
print("i) Name is an example of string ")
print("ii) list1 is an example of list")
print("iii) Float is an example of float")
print("iv) Tuple is an example of tuple")

Answer
i) Name is an example of string
ii) list1 is an example of list
iii) Float is an example of float
iv) Tuple is an example of tuple

# Q2. Given are some following variables containing data:
    (i) var1 = "  "
    (ii) var2 = ‘[ DS , ML , Python]’
    (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
    (iv) var4 = 1.
    What will be the data type of the above given variable.

# Answer2
    (i) var1 is String datatype
    (ii) var2 is string datatype
    (iii) var3 is list datatype
    (iV) Var4 is a float datatype

# Q3. Explain the use of the following operators using an example:
    (i) /
    (ii) %
    (iii) //
    (iv) **

# Answer3
    (i) / (Division operator): This operator is used to divide two operands and gives the quotient as the answer. For example, if we divide 10 by 2 using the division operator (/), we get 5 as the answer 1.

    (ii) % (Modulus operator): This operator is used to find the remainder of two integers and gives the remainder after the division. For example, if we divide 10 by 3 using the modulus operator (%), we get 1 as the remainder 1.

    (iii) // (Floor division operator): This operator is used to perform integer division and gives the quotient as the answer. The result of this operation is always an integer. For example, if we divide 10 by 3 using the floor division operator (//), we get 3 as the quotient 2.

    (iv) ** (Exponentiation operator): This operator is used to raise a number to a power. For example, if we want to calculate 2 raised to the power of 3, we can use the exponentiation operator (**), which gives us 8 as the answer 1.

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [10]:
# Answer
List1 = [ 0, 1 , "2", 3.0 , True, [1,2,3] , False , {1,1,2,2,3,3} , (1,1,2,3,4,5) ,  "python"]

print("Element---------->Datatype")
for i in range(len(List1)):    
    print(f"{List1[i]}-----------> {type(List1[i])}")

Element---------->Datatype
0-----------> <class 'int'>
1-----------> <class 'int'>
2-----------> <class 'str'>
3.0-----------> <class 'float'>
True-----------> <class 'bool'>
[1, 2, 3]-----------> <class 'list'>
False-----------> <class 'bool'>
{1, 2, 3}-----------> <class 'set'>
(1, 1, 2, 3, 4, 5)-----------> <class 'tuple'>
python-----------> <class 'str'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [11]:
#Answer
a = int(input("Enter Number1-->"))
b = int(input("Enter Number2-->"))
c = a/b
if a%b == 0:
    print(f"{a} is purely divisible by {b} and {a} is divisible by {b}  {c} times")
else:
    print(f"{a} is not divisible by {5}")

Enter Number1--> 100
Enter Number2--> 4

100 is purely divisible by 4 and 100 is divisible by 4  25.0 times

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [14]:
List1 = [1 ,2 ,3 , 4 ,5 ,6 ,7 ,8 ,9 ,10 ,11 ,12 ,13 ,14 ,15 ,16 ,17 ,18 ,19 ,20 ,21 ,22 ,23 ,24 ,25]
for i in range(len(List1)):
    if List1[i]%3 == 0:
        print(f'{List1[i]} is Divisible by 3')
    else:
         print(f'{List1[i]} is not Divisible by 3')

1 is not Divisible by 3
2 is not Divisible by 3
3 is Divisible by 3
4 is not Divisible by 3
5 is not Divisible by 3
6 is Divisible by 3
7 is not Divisible by 3
8 is not Divisible by 3
9 is Divisible by 3
10 is not Divisible by 3
11 is not Divisible by 3
12 is Divisible by 3
13 is not Divisible by 3
14 is not Divisible by 3
15 is Divisible by 3
16 is not Divisible by 3
17 is not Divisible by 3
18 is Divisible by 3
19 is not Divisible by 3
20 is not Divisible by 3
21 is Divisible by 3
22 is not Divisible by 3
23 is not Divisible by 3
24 is Divisible by 3
25 is not Divisible by 3

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

## Answer.
     (i) Mutable data types are those whose values can be changed after they are created. Examples of mutable data types include lists, dictionaries, and sets. 
     (ii) Immutable data types are those whose values cannot be changed after they are created. Examples of immutable data types include strings, tuples, and numbers

In [16]:
# Example of Mutability
List1 = [ 1,4, 5, ' ramesh']
List1[3] = 7
print(List1)

[1, 4, 5, 7]

In [17]:
# Example of immutability
name = 'Saurabh'
name[3] = "q"
print(name)

TypeError: 'str' object does not support item assignment